<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Pincode</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payment</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each allOrders}}

                <tr>
                    <td>{{this.date}}</td>
                    <td>{{this.deliveryDetails.username}}</td>
                    <td>{{this.deliveryDetails.address}}</td>
                    <td>{{this.deliveryDetails.pincode}}</td>
                    <td>{{this.deliveryDetails.mobile}}</td>
                    <td>{{this.totalAmount}}</td>
                    <td>{{this.paymentMethod}}</td>
                    <td>{{this.status}}</td>
                    <td>
                         <a href="#" class="btn btn-primary">View Products</a>
                         <button id="ship" href="#" class="btn btn-danger" onclick="change()">Ship</button>
                          {{!-- /view-order-products/{{this._id}} --}}
                        {{!-- <button onclick="/view-order-products/('{{this._id}}')" class="btn btn-primary">View
                            Products</button> --}}
                        {{!-- Metod 1 (id passing)--}}
                        {{!-- <a href="/admin/delete-product?id={{this._id}}" class="btn btn-danger">Delete</a> --}}

                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script>
    function change() {
  document.getElementById("ship").innerHTML = "Shipped";
}
</script>