<section>
  <div class="container">
    <table class="table mt-5">
      <thead>
        <tr>

          <th scope="col">Item</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>

        </tr>
      </thead>
      <tbody>
          {{#each products}}
        <tr>
          
          <td><img style="width: 70px;height:70px" src="/product-images/{{this.product._id}}.jpg" alt="" /></td>
          <td>{{this.product.Name}}</td>
          <td>Rs.{{this.product.Price}}</td>
          
          <td>
            <button class="cart-item-count mr-3 btn-primary" 
            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">-</button>
            <span id="{{this.product._id}}">{{this.quantity}}</span>
            <button class="cart-item-count ml-3 btn-primary" 
            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)">+</button>
          </td>
          <td>
            <button onclick="removeFrom('{{this._id}}','{{this.product._id}}')" class="btn btn-danger">Remove</button>
          </td>
        </tr>
        {{/each}}

      </tbody>
    </table>
    <hr>
    <div class="float-right pr-5">
    <h3 class="float-right mr-5">TOTAL: RS.<span id="total">{{totalValue}}</span></h3><br>
    <a href="/place-order" class="btn btn-success mt-3" style="width: 100%;"> <b>Place Order</b> </a>
    </div>
  </div>
</section>

<script>
  function changeQuantity(cartId,proId,userId,count){
    let quantity=parseInt(document.getElementById(proId).innerHTML)
    count=parseInt(count)

    $.ajax({
      url:'/change-product-quantity',
      data:{
        user:userId,
        cart:cartId,
        product:proId,
        count:count,
        quantity:quantity
      },
      method:'post',
      success:(response)=>{
        if(response.removeProduct){
          alert('Product Removed from cart')
          location.reload()
        }else{
          
          
          document.getElementById(proId).innerHTML=quantity+count

          document.getElementById('total').innerHTML=response.total.$numberDecimal


        }
       
      }

    })
  }
  
</script>

<script>
    function removeFrom(cartId,proId)
    {
      
        $.ajax({
            url:'/remove-from-cart',
            data:{
                cart:cartId,product:proId
            },
            method:'post',
            success:(response)=>{
                if(response.removeProduct){
                alert("product removed from cart"),
                location.reload()
                }
                location.reload()
            }
        })
    }
</script>

